.slide-panel {
  position: relative;
  overflow: hidden;
}

.slide-panel__panel {
  padding: 1rem;
  position: absolute;
  height: 99%;
  background: #f7f7f7;
  top: 0;
  right: 0;
  transform: translate3d(100%, 0, 0);
  transition: transform 500ms ease-in;
  max-width: 50%;
  overflow-y: auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.slide-panel__panel--open {
  transform: translate3d(0%, 0, 0);
}

.slide-panel__close-btn {
  margin-bottom: 1rem;
}
